* {
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

:root {
    --cor1: #000000;
    --cor2: #1f1f1f;
    --cor3: #313131;
    --cor4: #3b3b3b;
    --texto-cor1: #ffffff;
    --texto-cor2: #f80909c5;
}

body {
    background-color: var(--cor1);
}

header {
    text-align: center;
    margin: 25px 0px 25px 0px;
    font-size: 24px;
    color: white;
}

main {
    background-color: var(--cor1);
}

#sexos {
    display: flex;
    justify-content: space-around;
    background-color: var(--cor2);
    padding: 25px;
    margin-bottom: 20px;
}

#sexos h1 {
    color: white;
    font-size: 30px;
    padding: 9px;
    text-shadow: 2px 2px 3px black;
}

.button {
    border-radius: 10px;
    padding: 7px;
    cursor: pointer;
    color: white;
    background-color: var(--cor4);
}

#dadosCorporais {
    display: flex;
    flex-direction: column;
    background-color: var(--cor2);
    color: white;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}

#dadosCorporais h1 {
    color: white;
    text-align: center;
    text-shadow: 3px 3px 4px black;
    font-size: 30px;
    margin-bottom: 20px;
}

#formularioh {
    display: none;
}

#formulariom {
    display: none;
}

.form-grouph {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid black;
    background-color: var(--cor3);
}

.form-groupm {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid black;
    background-color: var(--cor3);
}

#resultado {
    background-color: var(--cor2);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

#resultado h1 {
    font-size: 30px;
    padding: 20px;
}

#resultadoValores {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.valores {
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    background-color: var(--cor3);
}