* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

:root {
    --cor1: #000000cc;
    --cor2: #272727ce;
    --cor3: #5557726e;
    --cor4: #6f728d86;
    --texto-cor1: #ffffff;
    --texto-cor2: #ffffffc5;
}

body {
    background: black url(fotos/photo-1526506118085-60ce8714f8c5.jpg) fixed no-repeat center top;
    background-size: 1050px 1000px;
}

header {
    margin: 25px 0;
    text-align: center;
    font-size: 20px;
    color: var(--texto-cor1);
    text-shadow: 3px 2px 1px  rgb(0, 0, 0);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-bottom: 100px;
    overflow: hidden;
}

#sexos {
    display: flex;
    justify-content: space-around;
    padding: 25px;
    border: 3px solid var(--cor1);
    background-color: var(--cor2);
}

#sexos h1 {
    font-size: 20px;
    color: var(--texto-cor1);
    text-shadow: 3px 2px 1px rgb(0, 0, 0);
}

.button {
    padding: 4px;
    border-radius: 8px;
    font-size: 10px;
    color: var(--texto-cor2);
    background-color: var(--cor4);
    cursor: pointer;
    box-shadow: 3px 2px 1px black;
}

#dadosCorporais {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    border: 3px solid var(--cor1);
    border-top: 0;
    background-color: var(--cor2);
    color: var(--texto-cor1);
}

#dadosCorporais h1 {
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
    color: var(--texto-cor1);
    text-shadow: 3px 2px 1px rgb(0, 0, 0);
}

#formularioh {}

label {
    font-size: 11px;
}

#formulariom {
    display: none;

}

.form-grouph,
.form-groupm {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 10px;
    background-color: var(--cor3);
    box-shadow: 3px 2px 1px black;
}

#resultado {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    border: 3px solid var(--cor1);
    border-top: 0;
    background-color: var(--cor2);
    color: var(--texto-cor1);
}

#resultado h1 {
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
    color: var(--texto-cor1);
    text-shadow: 3px 2px 1px rgb(0, 0, 0);
}

#resultadoValores {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.valores {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 10px;
    background-color: var(--cor3);
    box-shadow: 3px 2px 1px black;
}


@media (min-width: 720px) and (max-width: 1025px) {
    header {
        font-size: 25px;
    }

    #sexos h1 {
        font-size: 25px;
    }

    .button {
        padding: 6px;
        font-size: 13px;
    }

    #dadosCorporais h1 {
        font-size: 25px;
    }

    label {
        font-size: 15px;
    }

    #resultado h1 {
        font-size: 25px;
    }

    .valores {
        font-size: 15px;
    }
}



@media (min-width:1025px) {
    main {
        max-width: 1000px;
    }

    header {
        font-size: 30px;
    }

    #sexos h1 {
        font-size: 30px;
    }

    .button {
        padding: 8px;
        font-size: 15px;
    }

    #dadosCorporais h1 {
        font-size: 30px;
    }

    label {
        font-size: 20px;
    }

    #resultado h1 {
        font-size: 30px;
    }

    .valores {
        font-size: 20px;
    }
}